.loginAnchorPane{
-fx-background-color:gray;
    -fx-effect: dropshadow(three-pass-box, rgba(10,10,10,10.8), 10, 0, 0, 10);
    -fx-effect: dropshadow(three-pass-box, rgba(10,10,10,10.8),10,0,0,10);
    -fx-background-radius:20px;
}

.imageAnchorPane{
    -fx-background-color:light;

    -fx-background-radius:20px;
}

.loginBtn{

    -fx-background-radius:9px;
    -fx-prompt-text-fill:black ;
}

.userNameTxt{
    -fx-background-radius:16px;
    -fx-prompt-text-fill:black;
}

.passwordTxt{
    -fx-background-radius:16px;
    -fx-prompt-text-fill:black ;
}
.Label{

    -fx-prompt-text-fill:#4EF12A ;
}

.table-view {
    -fx-background-color:white; /* set the background color */
    -fx-selection-bar-color: red; /* set the selection color */
}
.table-row-cell:selected {    -fx-background-color: blue;
    /* set the background color of selected rows */
    -fx-text-fill: green; /* set the text color of selected rows */}
/*.table-row-cell:odd {*/
/*    -fx-background-color: #dfa47e; */
/*    !* set the background color of odd rows *!    -fx-border-color: #7B3927;*/
/*    -fx-table-cell-border-color: #7B3927;    -fx-font-weight: bolder;*/
/*    -fx-text-fill: #7B3927;*/
/*}*/
/*.table-row-cell:even {*/
/*    -fx-background-color: #F8C399; */
/*    !* set the background color of even rows *!    -fx-border-color: #7B3927;*/
/*    -fx-table-cell-border-color: #7B3927;    -fx-font-weight: bolder;*/
/*    -fx-text-fill: #7B3927;}*/
/*.table-column {*/
/*    -fx-alignment: center; !* set the alignment of table column *!}*/
/*.table-view .column-header {*/
/*    -fx-background-color:#7B3927 ;    -fx-text-fill: #7B3927;*/
/*}*/
/*.table-view .column-header .label {    -fx-text-fill: #dfa47e;*/
/*    -fx-font-weight: bolder;*/
/*}*/





.table-row-cell:odd {
    -fx-background-color: #00ff01; /* set the background color of odd rows */
    -fx-table-cell-border-color: #000000;    -fx-font-weight: bolder;
    -fx-text-fill: #0ce430;
}
.table-column {
    -fx-alignment: center; /* set the alignment of table column */}
.table-view .column-header {
    -fx-background-color: #00dc84;
    -fx-table-cell-border-color: #000000;
}
.table-view {
    -fx-border-color: #000000; /* set the background color */
    -fx-table-cell-border-color: #000000;
}

.chart-bar {
    -fx-bar-fill: #09AC01;
}

.barcharttitle{
    -fx-text-fill: #1a3595;
    -fx-font-family: "Offside";
}

.chart-pie-label {
    -fx-fill: #0aba00;
}
/*.table-row-cell:selected {    -fx-background-color: #000000; !* set the background color of selected rows *!*/
/*    -fx-text-fill: #090909; !* set the text color of selected rows *!